[Unit]
Description=Taxas SEJUSP Backend API
After=network.target

[Service]
# Tipo simples para executaveis que rodam em foreground (padrao Go)
Type=simple

# Usuario que vai rodar o servico (ajuste se necessario, ex: ajbranco)
User=root
Group=root

# Diretorio de trabalho e comando de execucao
WorkingDirectory=/var/www/taxasejusp/backend
ExecStart=/var/www/taxasejusp/backend/taxas_backend

# Variaveis de Ambiente
EnvironmentFile=/var/www/taxasejusp/backend/.env

# Reiniciar automaticamente se cair
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
